body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 420px;
  height: 580px;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}